[include]
	path = ~/.config/local/git_author
[push]
	default = simple
[commit]
	verbose = true
[alias]
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
