[include]
	path = ~/.config/local/git_author
[push]
	default = simple
[commit]
	verbose = true
[alias]
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[core]
	excludesfile = ~/.gitignore
