# No logs
i3log
*.log

# ranger has a bunch of files that shouldn't be tracked
**/ranger/bookmarks
**/ranger/history
**/ranger/tagged

# xmonad leaves bits in it's config directory
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
xmonad/.xmonad/prompt-history
