[include]
	path = ~/.gitlocal
[commit]
	template = ~/.gitmessage
[core]
	excludesfile = ~/.gitexcludes
	pager = less -iXFR
[alias]
	wip = !git add . && git commit -m WIP
	trunk = !git checkout origin/HEAD
	stat = status --porcelain
	lg = log --oneline
	focus = !git branch | grep -v "^*" | xargs git branch -d
	hub = !gh
	trace = !git log $1..origin/head --ancestry-path --merges --reverse
[init]
	defaultBranch = trunk
[diff]
	# https://luppeng.wordpress.com/2020/10/10/when-to-use-each-of-the-git-diff-algorithms/
	algorithm = histogram
[merge]
	#  https://ductile.systems/zdiff3/
	conflictstyle = zdiff3
[pull]
	rebase = true
[push]
	default = current
[rebase]
	updateRefs = true
[branch]
	autoSetupMerge = true
[remote]
	pushdefault = origin
