[include]
	# templated for per-machine git settings
	path = ~/.gitconfig.local
[alias]
	wip = !git commit -a -m WIP
	trunk = !git fetch && git checkout $(git remote-head)
	changes = !git diff $(git remote-head)... --name-only
	remote-head = !cat .git/remote-head 2>/dev/null || (git remote-head-update && cat .git/remote-head)
	remote-head-update = !echo "origin/$(git remote-head-get)" > .git/remote-head
	remote-head-get = !git remote set-head origin -a | awk '{print $4}'
[commit]
	verbose = true
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[init]
	defaultBranch = trunk
[core]
	excludesfile = ~/.gitignore
	pager = less -iXFR
