[include]
	# templated for per-machine git settings
	path = ~/.gitconfig.local
[alias]
	wip = !git commit -a -m WIP
  trunk = !git fetch && git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's/refs\\/remotes\\///g')
	progress = !git diff $(git symbolic-ref refs/remotes/origin/HEAD)... --name-only
	changes = !git diff $(git symbolic-ref refs/remotes/origin/HEAD)... --name-only
[commit]
	verbose = true
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[init]
	defaultBranch = trunk
[core]
	excludesfile = ~/.gitignore
	pager = less -iXFR
