[rerere]
	enabled = true
[color]
	ui = auto
[push]
	default = simple
[pull]
	rebase = true
[commit]
	verbose = true
[init]
	defaultBranch = trunk
[core]
	excludesfile = ~/.gitignore
	pager = less -iXFR
[alias]
	nicelog = log --oneline --graph --decorate
	feature = !git fetch && git checkout -b $1 origin/master && git push -u origin
	share = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	wtf = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	stat = status --porcelain
	nicelog = log --oneline --graph --decorate
	feature = !git fetch && git checkout -b $1 origin/master && git push -u origin
	share = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
